<html lang="en">
<head>
    {% load static %}
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ZOYA Jewellery</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/icons/site.html">
    <link rel="mask-icon" href="/static/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/static/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/static/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/filter.css">
    <link rel="stylesheet" href="/static/css/skins/skin-demo-4.css">
    <link rel="stylesheet" href="/static/css/demos/demo-4.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head><!--/head-->

<body>

	<header class="header header-intro-clearance header-4">
		<div class="header-top" style="padding: 5px">
			<div class="container">
				<div class="header-left">
					<a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
				</div><!-- End .header-left -->

				<div class="header-right">

					<ul class="top-menu">
						<li>
							<a href="#">Social</a>
							<ul>
								<li style="letter-spacing: 2px;">
									<a href="#" class="fa fa-facebook"></a>
									<a href="#" class="fa fa-instagram"></a>
									<a href="#" class="fa fa-play"></a>
								</li>
							</ul>
						</li>
					</ul><!-- End .top-menu -->
				</div><!-- End .header-right -->

			</div><!-- End .container -->
		</div><!-- End .header-top -->

		<div class="header-middle">
			<div class="container">
				<div class="header-left">
					<button class="mobile-menu-toggler">
						<span class="sr-only">Toggle mobile menu</span>
						<i class="icon-bars"></i>
					</button>
					
					<a href="{% url 'index' %}" class="logo">
						<img src="https://www.creativeco.in/wp-content/uploads/2020/02/zoya-logo-300x113.png" alt="Molla Logo" width="135" height="50">
					</a>
				</div><!-- End .header-left -->

				<div class="header-center">
					<div class="header-search header-search-extended header-search-visible d-none d-lg-block">
						<a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
						<form action="/search/" method="get">
							<div class="header-search-wrapper search-wrapper-wide">
								<label for="q" class="sr-only">Search</label>
								<button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
								<input type="search" class="form-control" name="query" id="q" placeholder="Search product ..." required>
							</div><!-- End .header-search-wrapper -->
						</form>
					</div><!-- End .header-search -->
				</div>

				<div class="header-right">


					<div class="dropdown cart-dropdown">
						{% if user.is_authenticated %}
						<p>Hi {{user.username}}</p>
						<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
							<div class="icon">
								<i class="fa fa-sign-out"></i>
							</div>
							<a href="{% url 'logout' %}"><p>&nbsp;Employee Logout</p><a>
						</a>
						{% else %}
						<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
							<div class="icon">
								<i class="fa fa-sign-in"></i>
							</div>
							<a href="{% url 'inventory_login' %}"><p>&nbsp;Employee Login</p></a>
						</a>
						{% endif %}
					</div><!-- End .cart-dropdown -->
				</div><!-- End .header-right -->
			</div><!-- End .container -->
		</div><!-- End .header-middle -->

		<div class="header-bottom sticky-header">
			<div class="container">
				<div class="header-left">
					<div class="dropdown category-dropdown">
						<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
							Browse Categories <i class="icon-angle-down"></i>
						</a>

						<div class="dropdown-menu">
							<nav class="side-nav">
								
								<ul class="menu-vertical sf-arrows">
									{% for cat in category %}
									<li class="item-lead"><a href="http://127.0.0.1:8000/category/{{cat.id}}">{{cat.name}}</a></li>
									{% endfor %}
									<li class="item-lead"><a href="http://127.0.0.1:8000/diamond">Diamonds</a><li>
								</ul>
								
									<!-- End .menu-vertical -->
							</nav><!-- End .side-nav -->
						</div><!-- End .dropdown-menu -->
					</div><!-- End .category-dropdown -->
				</div><!-- End .header-left -->

				<div class="header-center">
					<nav class="main-nav">
						<ul class="menu">
							<li class="megamenu-container">
								<a href="{% url 'index' %}" class="">Home</a>

							</li>
							<li>
								<a href="{% url 'index' %}" class="">About</a>
							</li>
					
							<li>
								<a href="category.html" class="sf-with-ul">Shop</a>

								<div class="megamenu megamenu-md">
									<div class="row no-gutters">
										<div class="col-md-8">
											<div class="menu-col">
												<div class="row">
													<div class="col-md-6">
														<div class="menu-title">Shop with sidebar</div><!-- End .menu-title -->
														<ul>
															<li><a href="category-list.html">Shop List</a></li>
															<li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
															<li><a href="category.html">Shop Grid 3 Columns</a></li>
															<li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
															<li><a href="category-market.html"><span>Shop Market<span class="tip tip-new">New</span></span></a></li>
														</ul>

						
													</div><!-- End .col-md-6 -->
											</div><!-- End .menu-col -->
										</div><!-- End .col-md-8 -->

									</div><!-- End .row -->
								</div><!-- End .megamenu megamenu-md -->
							</li>
							

							<li>
								<a href="" class="">Product</a>
								<div class="megamenu megamenu-sm">
									<div class="row no-gutters">
										<div class="col-md-8">
											<div class="menu-col">
												<div class="row">
													<div class="col-md-8">
														<div class="menu-title">Shop with sidebar</div><!-- End .menu-title -->
														<ul>
															<li><a href="category-list.html">Shop List</a></li>
															<li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
															<li><a href="category.html">Shop Grid 3 Columns</a></li>
															<li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
															<li><a href="category-market.html"><span>Shop Market<span class="tip tip-new">New</span></span></a></li>
														</ul>

						
													</div><!-- End .col-md-6 -->
											</div><!-- End .menu-col -->
										</div><!-- End .col-md-8 -->

									</div><!-- End .row -->
								</div><!-- End .megamenu megamenu-md -->
							</li>
							{% if user.is_authenticated %}
							<li>
								<a href="{% url 'inventory' %}" class="">Inventory</a>
							</li>
							{% endif %}
							<li>
								<a href="elements-list.html" class="">Contact</a>
							</li>
						</ul><!-- End .menu -->
					</nav><!-- End .main-nav -->
				</div><!-- End .header-center -->

				<div class="header-right">
					{% comment %} <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
					 {% endcomment %}
					 <marquee style="font-weight: bold">ZOYA- A Tata Product</marquee>
				</div>
			</div><!-- End .container -->
		</div><!-- End .header-bottom -->
	</header><!-- End .header -->
	

    {% block body %}  {% endblock %}

	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery.hoverIntent.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/superfish.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/bootstrap-input-spinner.js"></script>
    <script src="/static/js/jquery.plugin.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="/static/js/main.js"></script>
    <script src="/static/js/demos/demo-4.js"></script>
    <script src="/static/main.js"></script>

	<footer class="footer">
		
		<div class="footer-middle">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-4">
						<div class="widget widget-about">
							<img src="https://www.creativeco.in/wp-content/uploads/2020/02/zoya-logo-300x113.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
							<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

							<div class="widget-call">
								<i class="icon-phone"></i>
								Got Question? Call us 24/7
								<a href="tel:#">+0123 456 789</a>         
							</div><!-- End .widget-call -->
						</div><!-- End .widget about-widget -->
					</div><!-- End .col-sm-6 col-lg-3 -->

					<div class="col-sm-6 col-lg-4">
						<div class="widget">
							<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

							<ul class="widget-list">
								<li><a href="about.html">About Molla</a></li>
								<li><a href="#">Our Services</a></li>
								<li><a href="#">How to shop on Molla</a></li>
								<li><a href="faq.html">FAQ</a></li>
								<li><a href="contact.html">Contact us</a></li>
							</ul><!-- End .widget-list -->
						</div><!-- End .widget -->
					</div><!-- End .col-sm-6 col-lg-3 -->

					<div class="col-sm-6 col-lg-4">
						<div class="widget">
							<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

							<ul class="widget-list">
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back guarantee!</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Terms and conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul><!-- End .widget-list -->
						</div><!-- End .widget -->
					</div><!-- End .col-sm-6 col-lg-3 -->

				</div><!-- End .row -->
			</div><!-- End .container -->
		</div><!-- End .footer-middle -->

		<div class="footer-bottom">
			<div class="container">
				<p class="footer-copyright">Copyright © 2023 Lokmanya Digital. All Rights Reserved.</p><!-- End .footer-copyright -->
				<figure class="footer-payments">
					<img src="/static/images/payments.png" alt="Payment methods" width="272" height="20">
				</figure><!-- End .footer-payments -->
			</div><!-- End .container -->
		</div><!-- End .footer-bottom -->
	</footer><!-- End .footer -->

</body>
</html>